<div class="jumbotron" id="main">
  <h2>Witaj w remember App !</h2>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
  </p>
  <h3>Ilość słów: {{ numOfWords }}</h3>
    <!-- <div class="text-danger" ng-hide="isvalid">Liczba nie może być ujemna!</div> -->
    <input style="width: 70px;margin: 0 auto" ng-change="check" type="number" class="form-control" ng-model="numOfWords">
    <!-- <div><label for="">Wymieszaj słowa</label><input type="checkbox" ng-model="draw"></div> -->
   <a href="/#play" class="btn btn-lg btn-success" ng-click="setNumbers()" style="width: 12em; margin: 1em 0">START</a>
</div>

